.top-line {
    background-color: #005792;
    height: 2vh;
    padding: 0;
    margin: 0;
}

/*.header2 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 10vh;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: #efedec solid 1px;
    position: fixed;
    z-index: 2;
    background-color: green;
}*/

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    position: fixed;
    top: 2vh;
    z-index: 4;
    width: 100%;
    padding: 0 20px;
    
    
}


.logo {
    height: 110px;
    padding-top: 30px;
    z-index: 0;
    padding: 0;
    margin-top: 30px;

}

.header-right > ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style: none;
}

.header-right a {
    text-decoration: none;
    color: #00204a;
    transition: 0.4s;
   
}

.header-right a:hover {
    color: #fd5f00;
}